<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%$title%}</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="header">
    <div class="hewarp">
      <ul>
          <li class="index"> <a href="index.html" title=""><span class="png-1"></span> 活 动 </a> </li>
          <li class="history"> <a href="member.html" title=""><span class="png-2"></span> 会 员 </a> </li>
          <li> <a href="keyword.html"  title="" > <span class="png-3"></span> 关键字 </a> </li>
      </ul>
    </div>
</div>    
<form action="#" method="post">
 <div class="imagetext martop10">
  <div class="texttitle radius5">
	<ul>
	  <li class="this">关键字管理</li>
	</ul>
  </div>
  <div class="bgstyle textcontent evaluation">
	  <div class="evalinput">
		<dl>
		  <dt>关注时:</dt>
		  <dd>
			<input type="text" class="a1 radius5" />
		  </dd>
		</dl>
		<dl>
		  <dt>help:</dt>
		  <dd>
			<input type="text" class="a1 radius5" />
		  </dd>
		</dl>
		<dl>
		  <dt>密 码：</dt>
		  <dd>
			<input type="password" class="a1 radius5" maxlength="10" placeholder="请输入密码~"/>
		  </dd>
		</dl>
	  </div>
  </div>
</div>
<div class="bgstyle buyadd">
	  <input class="buying" type="submit" value="更 新" style="width:100%;" />
</div>
</form>
</body>
</html>