<xml>
<ToUserName><![CDATA[{$data.fromusername}]]></ToUserName>
 <FromUserName><![CDATA[{$data.tousername}]]></FromUserName>
 <CreateTime>{$data.createtime}</CreateTime>
 <MsgType><![CDATA[News]]></MsgType>
<ArticleCount>1</ArticleCount>
<Articles>
	<item>
	<Title><![CDATA[方圆羽毛球俱乐部欢迎您！]]></Title> 
	<Description><![CDATA[时间: 周二一般晚上7～9点，周六一般下午2~6点
地点：省体育馆一号馆
费用(每次活动时间不同，俱乐部统一买球，自带拍就好)：4小时：正式学生20元、临时学生30元、临时35元；3小时：正式学生15元、临时学生25元、临时30元；2小时：正式学生10元、临时学生20元、临时25元
-----------------------
回复“查看”或“？”了解比赛详情
回复人数可参加比赛，如：“1”；
回复数字“0”取消报名；
回复“绑定昵称”可以绑定昵称，如：绑定叶老大]]></Description>
        <PicUrl><![CDATA[http://1.bibisai.sinaapp.com/Public/images/logo.jpg]]></PicUrl>
	<Url><![CDATA[]]></Url>
	</item>
</Articles>
</xml>